<!-- BEGIN FORGOT PASSWORD FORM -->
<form class="forget-form" action="javascript:;" method="post">
    <h3>忘记密码？</h3>
    <p>
        请输入您的电子邮箱地址来重置您的密码。
    </p>
    <div class="form-group">
        <div class="input-icon">
            <i class="icon-envelope"></i>
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
        </div>
    </div>
    <div class="form-actions">
        {{#link-to 'profile2.login' class="btn"}}<i class="icon-circle-arrow-left"></i> 返回 {{/link-to}}
        <button type="submit" class="btn blue pull-right">
            提交 <i class="icon-circle-arrow-right"></i>
        </button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->
